/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main form:last-of-type input {
  width: calc(100% - 3vw);
  margin-top: 10px;
  color: inherit;
  font-size: min(48px, 5vw);
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid floralwhite;
}

main form #loginGuideMsg {
  font-size: min(48px, 5vw);
}

.hidden {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  color: floralwhite;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 60%;
}

#weather {
  position: absolute;
  top: 20px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#weather span:first-child {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#weather span:last-child {
  margin-top: 5px;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60vh;
}
main #clock {
  text-align: center;
  font-size: min(150px, 15vw);
}
main #greeting {
  font-size: min(48px, 5vw);
  color: rgb(94, 86, 86);
}
main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main form #login-input {
  width: calc(100% - 3vw);
  margin-top: 10px;
  color: rgb(94, 86, 86);
  font-size: min(42px, 4vw);
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid floralwhite;
}
main form:last-of-type {
  margin-top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main form:last-of-type #toDoGuideMsg {
  font-size: min(42px, 4vw);
}
main form:last-of-type input {
  width: 100%;
  font-size: min(38px, 3.5vw);
  font-weight: unset;
  color: rgb(94, 86, 86);
}
main #todo-list {
  width: 100%;
  margin-top: 30px;
  max-width: min(525px, 50vw);
  overflow-y: scroll;
}
main #todo-list::-webkit-scrollbar {
  display: none;
}
main #todo-list li {
  display: grid;
  grid-template-columns: 9fr 1fr;
  margin-bottom: 10px;
  align-items: center;
  max-width: 100%;
  padding: 5px;
  font-size: min(38px, 3.5vw);
  word-break: break-all;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  color: rgb(94, 86, 86);
}
main #todo-list li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
main #todo-list li span {
  align-self: center;
}
main #todo-list li button {
  margin-left: 5px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#quote {
  width: 80%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.strikethrough {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
} /*# sourceMappingURL=styles.css.map */
